h1{
	color:red;
}

.navbar-default
{
	position: fixed;
}







.block
{
	height : 650px;
	width : 100%;	
}

#aboutme
{
	background-color : #19FFD1;
	opacity: 0.5;
}

#myskills
{
	background-color : #FF6666;
	opacity: 0.5;
}

#mywork
{
	background-color : black;
}