h1{
	color:red;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}







.block
{
	height : 650px;
	width : 100%;	
}

#one
{
	background-color : red;
	opacity: 0.5;
}

#two
{
	background-color : blue;
}

#three
{
	background-color : black;
}