

.navbar-default
{
	position: fixed;
}


body{
	background-color:#F1F6F6;
	opacity:0.7;
}




.block
{

	height : 650px;
	width : 100%;	
}

#aboutme
{
	background-color : #19FFD1;
	opacity:0.75;	
}

#myskills
{
	
	background-color : #FF7489;
	
}

#mywork
{
	
	background-color :#2E82FF;
	opacity:0.9;

}

nav.navbar.navbar-default {
  margin-bottom: 3%;
  position: fixed;
}