#receiptbuttons
{
    width: 80%;
    height: 40%;
    margin-left: 10%;
    margin-top: 12%;
    float: left;
}

#confirmreceiptline
{
    width: 30%;
    margin-left: 19%;
    margin-top: -1%;
    font-size: 35px;
    background-color: green;
    text-align: center;
    float: left;
}


#confirmreceiptbutton
{
    width: 30%;
    height: 80%;
    margin-left: 19%;
    font-size: 35px;
    text-align: center;
    float: left;
}

#declinereceiptline
{
    width: 30%;
    margin-left: 51%;
    margin-top: -1%;
    font-size: 35px;
    background-color: red;
    text-align: center;
    float: left;
}

#introbody
{
    background-color: #ff7070;
}



#unlockbutton
{
    width: 20%;
    height: 25%;
    margin-left: 78%;
    margin-top: 6px;
    font-size: 35px;
    text-align: center;
    float: left;
}


#declinereceiptbutton
{
    width: 30%;
    height: 80%;
    font-size: 35px;
    margin-left: 2%;
    text-align: center;
    float: left;
}

#unlockbuttonline {
    width: 20%;
    height: 2%;
    margin-left: 78%;
    margin-top: 11%;
    font-size: 35px;
    background-color: yellow;
    text-align: center;
    float: left;
}

#locktapinfo
{
    float: left;
    height: 10%;
    width: 50%;
    margin-left: 25%;
    margin-top: 9%;
    text-align: center;
}

#transactiontitle
{
    margin-left: 27%;
    margin-top: -6%;
}

#confirmtransactionline
{
    width: 15%;
    height: 2%;
    margin-left: 43%;
    margin-top: 2%;
    font-size: 35px;
    background-color: green;
    text-align: center;
    float: left;
}

#confirmtransactionbutton
{
    width: 15%;
    height: 20%;
    margin-left: 43%;
    margin-top: 6px;
    font-size: 35px;
    text-align: center;
    float: left;    
}

#amounttransactionline
{
    background-color: red;
    width: 20%;
    margin-left: 41%;
    margin-top: 7%;
    height: 2%;
}

#amountbutton
{
    height: 25%;
    width: 20%;
    margin-left: 41%;
    margin-top: 8px;
    float: left;
}

#amountbutton p
{
    font-size: 40px;
    width: 64%;
    height: 50%;
    margin-left: 31%;
    margin-top: 4%;
    float: left;
}


#amountentery
{
    height: 31%;
    width: 95%;
    background-color: white;
    margin-left: 2.5%;
    float: left;
    margin-top: -16%;
}


#introglass
{
    border-top: 400px solid #ffea70;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    margin-left: 37%;
    margin-top: 6%;
    float: left;
    width: 200px;
}

#introbody h1
{
    float: left;
    height: 10%;
    width: 38%;
    margin-left: 36%;
    font-size: 53px;
    font-family: BebasNeue;
}

#introbuttonline
{
    width: 16%;
    height: 7px;
    margin-left: 41%;
    margin-top: -45px;
    font-size: 35px;
    text-align: center;
    float: left;
    background-color: a3cc60;
}

#introbutton
{
    float: left;
    width: 16%;
    height: 15%;
    margin-left: 41%;
    margin-top: -2.5%;
    background-color: #212121;
}

#introbutton p
{
    width: 50%;
    height: 30%;
    font-size: 50px;
    margin-left: 28%;
    float: left;
    margin-top: 11%;

}

.bubble
{
  display: block;
  background: white;
  border-radius: 50%;
  float: left;
}

#bubbleone
{
    height: 80px;
    width: 80px;
    margin-left: 4px;
    margin-top: -305px;
}

#bubbletwo
{
    height: 60px;
    width: 60px;
    margin-left: 123px;
    margin-top: -227px;
}

#bubblethree
{
        height: 50px;
    width: 50px;
    margin-top: -126px;
    margin-left: 49px;
}

#pourglass
{
    border-top: 400px solid #ffea70;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    margin-left: 37%;
    margin-top: 3%;
    float: left;
    width: 200px;
}

#pourtitle h2
{
        font-size: 65px;
    margin-left: 14%;
    float: left;
    height: 10%;
    margin-top: 1%;
}

#pourtitle h1
{
    font-size: 45px;
    float: left;
    margin-left: 29%;
    margin-top: 0%;
    color: #ffea70;
}

#pourbuttonline
{
    width: 16%;
    height: 7px;
    margin-left: 80%;
    margin-top: -45px;
    font-size: 35px;
    text-align: center;
    float: left;
    background-color: #a3cc60;
}

#pourbutton
{
    float: left;
    width: 16%;
    height: 15%;
    margin-left: 80%;
    margin-top: -2.5%;
    background-color: #212121;
}

#pourbutton p
{
    width: 90%;
    height: 30%;
    font-size: 42px;
    margin-left: 7%;
    float: left;
    margin-top: 5%;
}

#pourtotal
{
    float: left;
    height: 1%;
    width: 24%;
}

#pourtotal p
{
    height: 5%;
    width: 68%;
    margin-top: 100%;
    margin-left: 85%;
    font-size: 42px;
    font-family: "BebasNeue";
    float: left;
}

#measurerline
{
    background-color: #212121;
}

